<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <!--Css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Code Blog</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold">MyCodeBlog</span>
        </nav>
    </header>

    <main>
        <section>
            <div class="container" style="width: 60%; padding-bottom: 30px">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="background-color: white">
                        <li class="breadcrumb-item active" aria-current="page">Posts</li>
                    </ol>
                </nav>

                <div class="card shadow-sm bg-white rounded" style="margin-top: 20px">
                    <div class="card-body">
                        Isto é um texto dentro de um card.
                    </div>
                </div>

            </div>
        </section>
    </main>
</body>
</html>